<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel='stylesheet' href='package/styling.css' type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body ng-controller="bkCtrl">
<h1>Add Table to the List</h1>
<div class="row">
    <div class="col-sm-6">
<form ng-submit="addTable()">
    <div class="form-group">
    <label for="tblnum">TableNum</label><input class="form-control" type="text" id="tblnum" ng-model="TableNum" style="width: 200px;margin-left: 30px">
    </div>
    <div class="form-group">
    <label for="seats">Seats</label><input class="form-control" type="text" id="seats" ng-model="Seats" style="width:200px;margin-left: 30px">
    </div>
    <div class="from-group">
    <button name="Submit" class="btn" style="margin-left: 30px" >Submit</button>
    </div>
</form>
    </div>
<h1>Tables List</h1>
<div class="col-sm-6">
<table class="table table-striped table-bordered table-hover table-condensed" style="width: 50%;margin-left: 10%">

    <th>Table Number</th>
    <th>Number of Seats</th>
    <th>Select Button</th>
    <tr ng-repeat ="x in tables" >

  <td>{{x.TableNum}}</td>
  <td>{{x.Seats}}</td>
        <td><button name="Submit" class="mystyle" >Submit</button></td>
    </tr>

</table>
</div>
</div>
</body>
</html>