<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="http://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

    <link rel='stylesheet' href='styling.css' type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script>
        function some()
        {
            var today = new Date().toISOString().split('T')[0];
            document.getElementsByName("dte")[0].setAttribute('min', today);
        }

        function positive()
        {
            if(document.getElementById("count").value <=0)
            {
                window.alert("Number of members should be greater than Zero");
            }
        }

        function mindate()
        {
            var dt = datepicker({minDate: 0});
            return dt;
        }


    </script>
</head>
<!----------Single Page Application Using Angular Js------------->
<body>
<div class="container center_div">
    <p class="wel">Make your Reservation Below</p>
    <br>

    <form name="reservation" class="form-inline">
        <div class="form-group">
            <label for="dte">Date</label>
            <input class="form-control" ng-model="dte" onmouseover="some()" name="dte" id="dte" min="mindate()" type="date"  required/>

        </div>

        <div class="form-group">
            <label for="time">Time</label>
            <input class="form-control" name="time" ng-model="time" id="time" type="time" placeholder="08:00:PM" required/>

        </div>

        <div class="form-group" >
            <label for="count">Members</label>
            <input class="form-control" oninput="positive()" name="count" ng-model="count" id="count" min="1" type="number" placeholder="2" required/>
        </div>

        <div class="form-group">
            <button style="color:blue" type="submit" class="btn btn-default">Find a Table</button>
        </div>
    </form>
</div>
<br>
<br>
<div id="collection" class="collection">
    <div id="img1" class="img1">
        <a href="../index.html">Weekend Sepcial Buffet</a>
    </div>
    <div  id="img2" class="img2">
        <a href="../index.html">Thali</a>
    </div>
    <div id="img3" class="img3">
        <a href="../index.html">Deserts</a>
    </div>
</div>
<div id="collection1" class="collection1">
    <div id="img4" class="img4">
        <a href="../index.html">Indian Snacks</a>
    </div>
    <div id="img5" class="img5">
        <a href="../index.html">ToGo</a>
    </div>
    <div id="img6" class="img6">
        <a href="../index.html">Book a Table</a>
    </div>
</div>
</div>
</body>
</html>